main{    
    position: relative;
}

a > img{
    margin: 3rem 0;
}

main > img{
    width: 35.5rem;
    position: absolute;
    right: 0;
}

label{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-title-color);
}

a{
    width: max-content;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-title-color);
}

span{
    color: var(--redhero);
}

#container{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    height: 14rem;
}

#container input{
    width: 19rem;
    height: 3rem;
}

#container button{
    width: 19rem;
    height: 3rem;
}

@media (max-width: 600px){


    a > img{
        width: 12rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    main{
        align-items: center;
    }

    main > img{

        width: 18rem;
        position: relative;
    }

    #container{
        align-items: center;
    }
}