*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --redhero: #E02041;
    --primary-title-color: #13131A;
    --secondary-title-color: #41414D;
    --text-color: #737380;
    --secondary-text-color: #A8A8B3;
    --input-color: #FFFFFF;
    --input-line-color: #DCDCE6;
    --background-color: #F0F0F5;
}

html{ 
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-rows: 8rem 1fr;

    width: 100vw;
    height: 100vh;

    background: var(--background-color);
    
}
header{
    grid-area: header;
}

main{
    grid-area: main;

    max-width: 1080px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

input{
    border: 0.05rem solid var(--input-line-color);
    border-radius: 0.4rem;

    font-size: 1rem;

    padding-left: 1rem;
}

input::placeholder{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text-color);
}

button{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;

    background-color: var(--redhero);
    color: var(--background-color);

    border:none;
    border-radius: 0.5rem;
}

div > span {
    margin-right: 0.5rem;
}

@media (max-width: 600px){

    html{
        font-size: 90%;
    }

    body{
        grid-template-rows: 5rem 1fr;
        height: auto;
    }

}
